<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form [formGroup]="loginFirebaseAccountForm" (ngSubmit)="onSubmit(loginFirebaseAccountForm.value)">
      <ion-item>
        <ion-label floating color="dark">Email</ion-label>
        <ion-input type="text" value="" [formControl]="email">
        </ion-input>
      </ion-item>


      <ion-item [class.error]="!password.valid && password.touched">
        <ion-label floating color="dark">Password</ion-label>
        <ion-input type="password" [formControl]="password">
        </ion-input>
        <div *ngIf="password.hasError('required') && password.touched" class="error-box">* Password is required.</div>
        <div *ngIf="password.hasError('minlength') && password.touched" class="error-box">* Minimum password length is 5.</div>
      </ion-item>

      <ion-row responsive-sm>
        <ion-col>
          <button ion-button type="submit" color="light" block [disabled]="!loginFirebaseAccountForm.valid">Log In</button>
        </ion-col>
      </ion-row>
      </form>
  </ion-list>
  
</ion-content>