<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Jobs" tabIcon="home" tabBadge="{{newJobs}}" tabBadgeStyle="danger"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Chats" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Bookings" tabIcon="checkbox" tabBadge="{{newJobs}}" tabBadgeStyle="danger"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Custom Jobs" tabIcon="hand"></ion-tab>
</ion-tabs>