<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <h3 (click)="gotoSellerProfile()" id="output"></h3>
    </ion-navbar>
</ion-header>


<ion-content>

    <div *ngIf="loading">
        <img src="assets/images/ring.gif" style="display:block; margin:auto" />
    </div>

    <ion-item *ngFor="let job of jobs" text-wrap>
        <ion-item>
            <ion-thumbnail item-left>
                <user-avatar [user]="job.user"></user-avatar>
            </ion-thumbnail>
            <h2>{{job.user.username}}</h2>
            <ion-note item-right>{{job.dateCreated | date:'medium'}}</ion-note>
        </ion-item>
        <ion-item text-right>
            <div [ngSwitch]="job.jobCategoryId">
                <div *ngSwitchCase="'cooking'">
                    <p><b>Cooking service</b> required for <b>{{job.chefGuestsNumber}}</b> guests, for <b>{{job.eventType}}</b>                        event, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'cleaning'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Cleaning service</b> required for <b>{{job.cleanNoRooms}}</b> guests, for <b>{{job.eventType}}</b>                        event, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'washing'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Washing Service</b> required for <b>{{job.washNoClothes}}</b> clothes, additional services <b>{{job.washService}}</b>,
                        on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'recycling'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Recycling service</b> required for <b>{{job.recycleType}}</b>, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'painting'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Painting service</b> required for <b>{{job.paintNoWalls}}</b> walls, for <b>{{job.paintMaterials}}</b>                        materials, on <b>{{job.jobDate}}</b> at
                        <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'assembly'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Assembly</b> service required for <b>{{job.fAssemblyNoUnits}}</b> pieces of furniture on
                        <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'moving'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Moving service</b> required for <b>{{job.fMoveNoUnits}}</b> furniture units, from <b>{{job.StreetName}}, {{job.pincode}},
						{{job.city}}</b> to <b>{{job.fMoveDestAddress}}</b> on <b>{{job.jobDate}}.</b> </p>
                </div>
                <div *ngSwitchCase="'custom'" class="thread-card-question wordwrap left-border-primary">
                    <p>{{job.customJob}} required on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}</b>.</p>
                </div>
            </div>
        </ion-item>
    </ion-item>
    <ion-item *ngFor="let quotation of quotations" text-wrap>
        <ion-item>
            <ion-thumbnail item-left>
                <user-avatar [user]="quotation.user"></user-avatar>
            </ion-thumbnail>
            <h2>{{quotation.user.username}}</h2>
            <ion-note>{{quotation.dateCreated | date:'medium'}}</ion-note><br>
            <b>Price/hr(CHF)</b> : {{quotation.price}}<br>
            <b>Message</b> : {{quotation.message}}
        </ion-item>
    </ion-item>
    <div *ngIf="!loading">
        <ion-list *ngFor="let chat of chats">
            <b>{{chat.user.username}}</b>::{{chat.message}}
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit(chatForm.value);chatForm.reset()">
            <ion-input type="text" placeholder="Type Here" [formControl]="message">
            </ion-input>
            <ion-buttons end>
                <button [disabled]="!chatForm.valid"type="submit" icon-right ion-button color="dark">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
            </ion-buttons>
        </form>
    </ion-toolbar>
</ion-footer>