<ion-item text-wrap>
    <ion-card>
        <ion-item>
            <ion-thumbnail item-left>
                <user-avatar [user]="job.user"></user-avatar>
            </ion-thumbnail>
            <h2>{{job.user.username}}</h2>
        </ion-item>
        <ion-item text-right>
            <div>
                <p>{{job.customJob}} on <b>{{job.jobDate}}</b> at <b>{{job.pincode}}, {{job.city}}</b>.</p>
            </div>
        </ion-item>
            <ion-row>
                <ion-col>
                    <button ion-button color="dark" small (click)="gotoQuotationPage(job.key, job.user.uid)">
	        			<ion-icon name="quote"></ion-icon>
	        			Make An Offer
	      			</button>
                    <button ion-button color="dark" small (click)="showShareActions()">
	        			<ion-icon name="share"></ion-icon>
	        			Share
	      			</button>
                </ion-col>
                <ion-col center text-center>
                    <ion-note>
                        {{job.dateCreated | date:'medium'}}
                    </ion-note>
                </ion-col>
            </ion-row>
        