<!--
  Generated template for the CreateQuotation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateQuotation</ion-title>
    <ion-buttons end>
      <button icon-right block ion-button color="royal" (click)="dismiss()">
        Cancel
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="createQuotationForm" (ngSubmit)="onSubmit(createQuotationForm.value)" *ngIf="loaded">
    <ion-item>
      <ion-label stacked>Pricing</ion-label>
      <ion-input [formControl]="price" type="number" placeholder="Enter Amount Value (CHF/hr)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Message</ion-label>
      <ion-textarea [formControl]="message" rows="5" placeholder="Say or Ask something you want to...."></ion-textarea>
    </ion-item>
    <button type="submit" ion-button color="light" [disabled]="!createQuotationForm.valid" block>Submit</button>
  </form>
</ion-content>