<!--
  Generated template for the SignUp page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Sign-Up</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="createFirebaseAccountForm" (ngSubmit)="onSubmit(createFirebaseAccountForm.value)">
        <ion-list>
            <ion-item [class.error]="!username.valid && username.touched">
                <ion-label floating>Full Name</ion-label>
                <ion-input type="text" value="" [formControl]="username"></ion-input>
            </ion-item>
            <div *ngIf="username.hasError('required') && username.touched" class="error-box">* FullName is required.</div>
            <div *ngIf="username.hasError('minlength') && username.touched" class="error-box">* Minimum FullName length is 5.</div>
            <ion-item [class.error]="!email.valid && email.touched">
                <ion-label floating>Email</ion-label>
                <ion-input type="text" value="" [formControl]="email"></ion-input>
            </ion-item>
            <div *ngIf="email.hasError('required') && email.touched" class="error-box">* Email is required.</div>
            <div *ngIf="email.hasError('isValid') && email.touched" class="error-box">* Enter a valid email address.</div>
            <ion-item [class.error]="!password.valid && password.touched">
                <ion-label floating>Password</ion-label>
                <ion-input type="password" value="" [formControl]="password"></ion-input>
            </ion-item>
            <div *ngIf="password.hasError('required') && password.touched" class="error-box">* Password is required.</div>
            <div *ngIf="password.hasError('minlength') && password.touched" class="error-box">* Minimum password length is 5.</div>
            <ion-item>
                <ion-label>Date of Birth</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" [formControl]="dateOfBirth"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select [formControl]="gender">
                    <ion-option value="male">Male</ion-option>
                    <ion-option value="Female">Female</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Nationality</ion-label>
                <ion-input type="text" value="" [formControl]="country"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Skill</ion-label>
                <ion-select [formControl]="ServiceCategory">
                    <ion-option value="cleaning">Cleaner</ion-option>
                    <ion-option value="cooking">Chef</ion-option>
                    <ion-option value="washing">Washer</ion-option>
                    <ion-option value="recycling">Recycler</ion-option>
                    <ion-option value="painting">Painter</ion-option>
                    <ion-option value="assembly">Furniture Assembly</ion-option>
                    <ion-option value="moving">Furniture Move</ion-option>
                    <ion-option value="custom">Others</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <button type="submit" ion-button [disabled]="!createFirebaseAccountForm.valid" block>Sign Up</button>
    </form>
</ion-content>