<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button ion-item menuClose (click)="showShareActions()">
	      <ion-icon item-left name="share"></ion-icon>
	      Share App(Buyer)
	    </button>
      <button ion-item menuClose (click)="showShareActions2()">
	      <ion-icon item-left name="share"></ion-icon>
	      Share App(Seller)
	    </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>