<!--
  Generated template for the ProfileImageUpload page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<form [formGroup]="addCuisineForm" (ngSubmit)="onSubmit(addCuisineForm.value)" *ngIf= "category">
<ion-list>
  <ion-item>
    <ion-label>Cuisine</ion-label>
    <ion-select [formControl]="cuisine" multiple="true">
      <ion-option value="indian">Indian</ion-option>
      <ion-option value="afgani">Afgani</ion-option>
      <ion-option value="chinese">Chinese</ion-option>
      <ion-option value="nepali">Nepali</ion-option>
      <ion-option value="amrikan">Amrikan</ion-option>
      <ion-option value="afrikan">Afrikan</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<button type="submit" ion-button [disabled]="!addCuisineForm.valid" block *ngIf="!added">Add Cuisine</button>
</form>
  <p>Upload Profile Photo</p>
  <button ion-button (click)="openImageOptions()">
      <ion-icon name="camera"></ion-icon>
  </button>

  <p>Upload Document 1</p>
  <button ion-button (click)="openImageOptions2()">
      <ion-icon name="camera"></ion-icon>
  </button>

  <p>UploadDocument 2</p>
  <button ion-button (click)="openImageOptions3()">
      <ion-icon name="camera"></ion-icon>
  </button>
</ion-content>