<!--
  Generated template for the CustomJobs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Custom Jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="reloadJobs($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="loading">
        <img src="assets/images/ring.gif" style="display:block; margin:auto" />
    </div>

    <ion-list *ngIf="!loading">
        <custom-job *ngFor="let job of jobs" [job]="job"></custom-job>
    </ion-list>
</ion-content>